speech.flac
result.json
MODE
tmp.sp
InstallResult

#Process IDs
*.pid

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Python bytecode
*.pyc
*.pyo


#Text editor's backup file
*~

#ignore intellij files
.idea
*.iml
