speech.flac
indicator.pid
osd.pid
speech.pid
result.json
MODE

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Python bytecode
*.pyc
*.pyo


#Text editor's backup file
*~
